tgweb/uml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:uml="http://www.genuitec.com/uml.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.genuitec.com/uml.xsd">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">Generated By MyEclipse UML2</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="CommonService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="CommonDao" type="uml:CommonDao"/>
  <xsd:complexType name="CommonDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="CommonServiceImpl" type="uml:CommonServiceImpl"/>
  <xsd:complexType name="CommonServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:CommonDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CommonController" type="uml:CommonController"/>
  <xsd:complexType name="CommonController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="commonService" type="uml:CommonService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="UserManagementService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="UserManagementServiceImpl" type="uml:UserManagementServiceImpl"/>
  <xsd:complexType name="UserManagementServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:UserManagementDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UserManagementDao" type="uml:UserManagementDao"/>
  <xsd:complexType name="UserManagementDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="UserManagementController" type="uml:UserManagementController"/>
  <xsd:complexType name="UserManagementController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="userManagementService" type="uml:UserManagementService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TgwebExceptionResolver" type="uml:TgwebExceptionResolver"/>
  <xsd:complexType name="TgwebExceptionResolver">
    <xsd:sequence>
      <xsd:element name="messageSource" type="uml:MessageSource"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TgwebException" type="uml:TgwebException"/>
  <xsd:complexType name="TgwebException">
    <xsd:sequence>
      <xsd:element name="serialVersionUID" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ExceptionTransfer" type="uml:ExceptionTransfer"/>
  <xsd:complexType name="ExceptionTransfer">
    <xsd:sequence>
      <xsd:element name="messageSource" type="uml:MessageSource"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LoggingAspect" type="uml:LoggingAspect"/>
  <xsd:complexType name="LoggingAspect">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="RequestConstants" type="uml:RequestConstants"/>
  <xsd:complexType name="RequestConstants">
    <xsd:sequence>
      <xsd:element name="LIST" type="xsd:string"/>
      <xsd:element name="TAB" type="xsd:string"/>
      <xsd:element name="CREATE" type="xsd:string"/>
      <xsd:element name="CREATE_PROCESS" type="xsd:string"/>
      <xsd:element name="UPDATE" type="xsd:string"/>
      <xsd:element name="UPDATE_PROCESS" type="xsd:string"/>
      <xsd:element name="READ" type="xsd:string"/>
      <xsd:element name="SEARCH" type="xsd:string"/>
      <xsd:element name="DELETE" type="xsd:string"/>
      <xsd:element name="EXCEL" type="xsd:string"/>
      <xsd:element name="REPORT" type="xsd:string"/>
      <xsd:element name="SELECT" type="xsd:string"/>
      <xsd:element name="CHART" type="xsd:string"/>
      <xsd:element name="FILE" type="xsd:string"/>
      <xsd:element name="IMAGE" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TgWebDao" type="uml:TgWebDao"/>
  <xsd:complexType name="TgWebDao">
    <xsd:sequence>
      <xsd:element name="SPECIAL_CHAR" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AbstractDao" type="uml:AbstractDao"/>
  <xsd:complexType name="AbstractDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="TgHandlerExceptionResolver" type="uml:TgHandlerExceptionResolver"/>
  <xsd:complexType name="TgHandlerExceptionResolver">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="HandlerExceptionResolver">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="JqGridMapper" type="uml:JqGridMapper"/>
  <xsd:complexType name="JqGridMapper">
    <xsd:sequence>
      <xsd:element name="serialVersionUID" type="xsd:long"/>
      <xsd:element name="total" type="xsd:int"/>
      <xsd:element name="page" type="xsd:int"/>
      <xsd:element name="records" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" name="rows" type="uml:List"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Serializable">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Gridable">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="CellRangeAddressWrapper" type="uml:CellRangeAddressWrapper"/>
  <xsd:complexType name="CellRangeAddressWrapper">
    <xsd:sequence>
      <xsd:element name="range" type="uml:CellRangeAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TestExcelExport" type="uml:TestExcelExport"/>
  <xsd:complexType name="TestExcelExport">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ExportChartUtil" type="uml:ExportChartUtil"/>
  <xsd:complexType name="ExportChartUtil">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="JSONUtil" type="uml:JSONUtil"/>
  <xsd:complexType name="JSONUtil">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="RequestUtil" type="uml:RequestUtil"/>
  <xsd:complexType name="RequestUtil">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="T" type="uml:T"/>
  <xsd:complexType name="T">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="T" type="uml:T"/>
  <xsd:complexType name="T">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="T" type="uml:T"/>
  <xsd:complexType name="T">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="FileUploadUtil" type="uml:FileUploadUtil"/>
  <xsd:complexType name="FileUploadUtil">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ExportExcelUtil" type="uml:ExportExcelUtil"/>
  <xsd:complexType name="ExportExcelUtil">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Style" type="uml:Style"/>
  <xsd:complexType name="Style">
    <xsd:choice>
      <xsd:element name="TITLE"/>
      <xsd:element name="HEAD_INFO_KEY"/>
      <xsd:element name="HEAD_INFO_VALUE"/>
      <xsd:element name="BODY_HEAD"/>
      <xsd:element name="BODY_VALUE"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:element name="ExcelHelper" type="uml:ExcelHelper"/>
  <xsd:complexType name="ExcelHelper">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="MapAlphanumComparator" type="uml:MapAlphanumComparator"/>
  <xsd:complexType name="MapAlphanumComparator">
    <xsd:sequence>
      <xsd:element name="key" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ChainedComparator" type="uml:ChainedComparator"/>
  <xsd:complexType name="ChainedComparator">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="simpleComparators" type="uml:List"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="T" type="uml:T"/>
  <xsd:complexType name="T">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="AlphanumComparator" type="uml:AlphanumComparator"/>
  <xsd:complexType name="AlphanumComparator">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:simpleType name="Comparator&lt;T&gt;">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Comparator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="ExportExcelUtilModel" type="uml:ExportExcelUtilModel"/>
  <xsd:complexType name="ExportExcelUtilModel">
    <xsd:sequence>
      <xsd:element name="serialVersionUID" type="xsd:long"/>
      <xsd:element name="TITLE_ROW_INDEX" type="xsd:int"/>
      <xsd:element name="HEAD_INFO_KEY_CELL_INDEX" type="xsd:int"/>
      <xsd:element name="HEAD_INFO_VALUE_CELL_INDEX" type="xsd:int"/>
      <xsd:element name="DEFAULT_ROW_POSITION" type="xsd:int"/>
      <xsd:element name="title" type="xsd:string"/>
      <xsd:element name="sheetTitle" type="xsd:string"/>
      <xsd:element name="sheetIndex" type="xsd:int"/>
      <xsd:element name="rowPos" type="xsd:int"/>
      <xsd:element name="hiddenColumn" type="xsd:int"/>
      <xsd:element name="columnNameMap" type="uml:Map"/>
      <xsd:element name="headInfoData" type="uml:Map"/>
      <xsd:element maxOccurs="unbounded" name="bodyDataList" type="uml:List"/>
      <xsd:element name="templateFile" type="uml:File"/>
      <xsd:element name="chartSeries" type="xsd:int"/>
      <xsd:element name="bandwidthReportModel" type="uml:BandwidthReportModel"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BandwidthReportModel" type="uml:BandwidthReportModel"/>
  <xsd:complexType name="BandwidthReportModel">
    <xsd:sequence>
      <xsd:element name="serialVersionUID" type="xsd:long"/>
      <xsd:element name="DEFAULT_CELL_INDEX" type="xsd:int"/>
      <xsd:element name="x" type="xsd:string"/>
      <xsd:element name="y" type="xsd:string"/>
      <xsd:element name="z" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="xList" type="uml:List"/>
      <xsd:element maxOccurs="unbounded" name="yList" type="uml:List"/>
      <xsd:element maxOccurs="unbounded" name="zList" type="uml:List"/>
      <xsd:element name="dataMap" type="uml:MultiKeyMap"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Comparable&lt;CellRangeAddressWrapper&gt;">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="MappingJacksonJsonViewEx" type="uml:MappingJacksonJsonViewEx"/>
  <xsd:complexType name="MappingJacksonJsonViewEx">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="FileDownloadView" type="uml:FileDownloadView"/>
  <xsd:complexType name="FileDownloadView">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MappingJacksonJsonView" type="uml:MappingJacksonJsonView"/>
  <xsd:complexType name="MappingJacksonJsonView">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="AbstractView" type="uml:AbstractView"/>
  <xsd:complexType name="AbstractView">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SimpleMappingExceptionResolver" type="uml:SimpleMappingExceptionResolver"/>
  <xsd:complexType name="SimpleMappingExceptionResolver">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="BaseException" type="uml:BaseException"/>
  <xsd:complexType name="BaseException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:simpleType name="AccountService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="AccountServiceImpl" type="uml:AccountServiceImpl"/>
  <xsd:complexType name="AccountServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:AccountDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AccountDao" type="uml:AccountDao"/>
  <xsd:complexType name="AccountDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="AccountController" type="uml:AccountController"/>
  <xsd:complexType name="AccountController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="accountService" type="uml:AccountService"/>
      <xsd:element name="passwordEncoder" type="uml:PasswordEncoder"/>
      <xsd:element name="prop" type="uml:PropertiesFactoryBean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LoginController" type="uml:LoginController"/>
  <xsd:complexType name="LoginController">
    <xsd:sequence>
      <xsd:element name="accountService" type="uml:AccountService"/>
      <xsd:element name="prop" type="uml:PropertiesFactoryBean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomAuthenticationProvider" type="uml:CustomAuthenticationProvider"/>
  <xsd:complexType name="CustomAuthenticationProvider">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="userDetailsService" type="uml:UserDetailsService"/>
      <xsd:element name="passwordEncoder" type="uml:PasswordEncoder"/>
      <xsd:element name="saltSource" type="uml:SaltSource"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomUserDetailsDao" type="uml:CustomUserDetailsDao"/>
  <xsd:complexType name="CustomUserDetailsDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="CustomUser" type="uml:CustomUser"/>
  <xsd:complexType name="CustomUser">
    <xsd:sequence>
      <xsd:element name="serialVersionUID" type="xsd:long"/>
      <xsd:element name="returnCode" type="xsd:string"/>
      <xsd:element name="loginTimeFormIs" type="xsd:string"/>
      <xsd:element name="email" type="xsd:string"/>
      <xsd:element name="userName" type="xsd:string"/>
      <xsd:element name="deptName" type="xsd:string"/>
      <xsd:element name="preferences" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="User" type="uml:User"/>
  <xsd:complexType name="User">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="CustomAuthenticationFailureHandler" type="uml:CustomAuthenticationFailureHandler"/>
  <xsd:complexType name="CustomAuthenticationFailureHandler">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="userNotFound" type="xsd:string"/>
      <xsd:element name="passwordNotMatch" type="xsd:string"/>
      <xsd:element name="passwordRegistration" type="xsd:string"/>
      <xsd:element name="forwardToDestination" type="xsd:boolean"/>
      <xsd:element name="allowSessionCreation" type="xsd:boolean"/>
      <xsd:element name="redirectStrategy" type="uml:RedirectStrategy"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomAuthenticationSuccessHandler" type="uml:CustomAuthenticationSuccessHandler"/>
  <xsd:complexType name="CustomAuthenticationSuccessHandler">
    <xsd:sequence>
      <xsd:element name="prop" type="uml:PropertiesFactoryBean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AuthenticationFailureHandler">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AuthenticationSuccessHandler">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="AbstractAuthenticationTargetUrlRequestHandler" type="uml:AbstractAuthenticationTargetUrlRequestHandler"/>
  <xsd:complexType name="AbstractAuthenticationTargetUrlRequestHandler">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="CustomUserDetailsService" type="uml:CustomUserDetailsService"/>
  <xsd:complexType name="CustomUserDetailsService">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="customUserDetailsDao" type="uml:CustomUserDetailsDao"/>
      <xsd:element name="prop" type="uml:PropertiesFactoryBean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="UserDetailsService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="AbstractUserDetailsAuthenticationProvider" type="uml:AbstractUserDetailsAuthenticationProvider"/>
  <xsd:complexType name="AbstractUserDetailsAuthenticationProvider">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:simpleType name="BoardService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DownloadService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="BoardServiceImpl" type="uml:BoardServiceImpl"/>
  <xsd:complexType name="BoardServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:BoardDao"/>
      <xsd:element name="prop" type="uml:PropertiesFactoryBean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DownloadDao" type="uml:DownloadDao"/>
  <xsd:complexType name="DownloadDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="BoardDao" type="uml:BoardDao"/>
  <xsd:complexType name="BoardDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="DownloadServiceImpl" type="uml:DownloadServiceImpl"/>
  <xsd:complexType name="DownloadServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:DownloadDao"/>
      <xsd:element name="prop" type="uml:PropertiesFactoryBean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BoardController" type="uml:BoardController"/>
  <xsd:complexType name="BoardController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="boardService" type="uml:BoardService"/>
      <xsd:element name="prop" type="uml:PropertiesFactoryBean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DownloadController" type="uml:DownloadController"/>
  <xsd:complexType name="DownloadController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="downloadService" type="uml:DownloadService"/>
      <xsd:element name="prop" type="uml:PropertiesFactoryBean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CommonService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LogFileService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="LogFileDao" type="uml:LogFileDao"/>
  <xsd:complexType name="LogFileDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="CommonServiceImpl" type="uml:CommonServiceImpl"/>
  <xsd:complexType name="CommonServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:CommonDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CommonDao" type="uml:CommonDao"/>
  <xsd:complexType name="CommonDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="LogFileServiceImpl" type="uml:LogFileServiceImpl"/>
  <xsd:complexType name="LogFileServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:LogFileDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CommonController" type="uml:CommonController"/>
  <xsd:complexType name="CommonController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="commonService" type="uml:CommonService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ForwardController" type="uml:ForwardController"/>
  <xsd:complexType name="ForwardController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="context" type="uml:ApplicationContext"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LogFileController" type="uml:LogFileController"/>
  <xsd:complexType name="LogFileController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="logFileService" type="uml:LogFileService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="MainFwService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MainResultService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MainModelService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="MainModelServiceImpl" type="uml:MainModelServiceImpl"/>
  <xsd:complexType name="MainModelServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:MainModelDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MainResultDao" type="uml:MainResultDao"/>
  <xsd:complexType name="MainResultDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="MainFwServiceImpl" type="uml:MainFwServiceImpl"/>
  <xsd:complexType name="MainFwServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:MainFwDao"/>
      <xsd:element name="searchStreamTcDao" type="uml:SearchStreamTcDao"/>
      <xsd:element name="liveStreamTcDao" type="uml:LiveStreamTcDao"/>
      <xsd:element name="bandwidthTcDao" type="uml:BandwidthTcDao"/>
      <xsd:element name="imageConfirmTcDao" type="uml:ImageConfirmTcDao"/>
      <xsd:element name="viewLatencyTcDao" type="uml:ViewLatencyTcDao"/>
      <xsd:element name="webTcDao" type="uml:WebTcDao"/>
      <xsd:element name="rs485TcDao" type="uml:Rs485TcDao"/>
      <xsd:element name="ptzTcDao" type="uml:PtzTcDao"/>
      <xsd:element name="dstTcDao" type="uml:DSTTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MainFwDao" type="uml:MainFwDao"/>
  <xsd:complexType name="MainFwDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="MainResultServiceImpl" type="uml:MainResultServiceImpl"/>
  <xsd:complexType name="MainResultServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:MainResultDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MainModelDao" type="uml:MainModelDao"/>
  <xsd:complexType name="MainModelDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="MainFwController" type="uml:MainFwController"/>
  <xsd:complexType name="MainFwController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="mainFwService" type="uml:MainFwService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MainResultController" type="uml:MainResultController"/>
  <xsd:complexType name="MainResultController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="mainResultService" type="uml:MainResultService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MainModelController" type="uml:MainModelController"/>
  <xsd:complexType name="MainModelController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="mainModelService" type="uml:MainModelService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SrmDto" type="uml:SrmDto"/>
  <xsd:complexType name="SrmDto">
    <xsd:sequence>
      <xsd:element name="serialVersionUID" type="xsd:long"/>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="rows" type="uml:List"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SrmService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="SrmDao" type="uml:SrmDao"/>
  <xsd:complexType name="SrmDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SrmServiceImpl" type="uml:SrmServiceImpl"/>
  <xsd:complexType name="SrmServiceImpl">
    <xsd:sequence>
      <xsd:element name="srmDao" type="uml:SrmDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SrmController" type="uml:SrmController"/>
  <xsd:complexType name="SrmController">
    <xsd:sequence>
      <xsd:element name="srmService" type="uml:SrmService"/>
      <xsd:element name="logger" type="uml:Logger"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DSTCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DSTMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DSTDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DSTTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="DSTCycleServiceImpl" type="uml:DSTCycleServiceImpl"/>
  <xsd:complexType name="DSTCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:DSTCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DSTTcDao" type="uml:DSTTcDao"/>
  <xsd:complexType name="DSTTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="DSTMainServiceImpl" type="uml:DSTMainServiceImpl"/>
  <xsd:complexType name="DSTMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:DSTMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DSTMainDao" type="uml:DSTMainDao"/>
  <xsd:complexType name="DSTMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="DSTCycleDao" type="uml:DSTCycleDao"/>
  <xsd:complexType name="DSTCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="DSTDetailServiceImpl" type="uml:DSTDetailServiceImpl"/>
  <xsd:complexType name="DSTDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:DSTDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DSTTcServiceImpl" type="uml:DSTTcServiceImpl"/>
  <xsd:complexType name="DSTTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:DSTTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DSTDetailDao" type="uml:DSTDetailDao"/>
  <xsd:complexType name="DSTDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="DSTMainController" type="uml:DSTMainController"/>
  <xsd:complexType name="DSTMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="dstMainService" type="uml:DSTMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DSTDetailController" type="uml:DSTDetailController"/>
  <xsd:complexType name="DSTDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="dstDetailService" type="uml:DSTDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DSTCycleController" type="uml:DSTCycleController"/>
  <xsd:complexType name="DSTCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="dstCycleService" type="uml:DSTCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DSTTcController" type="uml:DSTTcController"/>
  <xsd:complexType name="DSTTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="dstTcService" type="uml:DSTTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="OSDMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OSDDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OSDCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OSDTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="OSDTcServiceImpl" type="uml:OSDTcServiceImpl"/>
  <xsd:complexType name="OSDTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:OSDTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OSDMainServiceImpl" type="uml:OSDMainServiceImpl"/>
  <xsd:complexType name="OSDMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:OSDMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OSDMainDao" type="uml:OSDMainDao"/>
  <xsd:complexType name="OSDMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="OSDCycleDao" type="uml:OSDCycleDao"/>
  <xsd:complexType name="OSDCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="OSDCycleServiceImpl" type="uml:OSDCycleServiceImpl"/>
  <xsd:complexType name="OSDCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:OSDCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OSDTcDao" type="uml:OSDTcDao"/>
  <xsd:complexType name="OSDTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="OSDDetailServiceImpl" type="uml:OSDDetailServiceImpl"/>
  <xsd:complexType name="OSDDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:OSDDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OSDDetailDao" type="uml:OSDDetailDao"/>
  <xsd:complexType name="OSDDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="OSDDetailController" type="uml:OSDDetailController"/>
  <xsd:complexType name="OSDDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="osdDetailService" type="uml:OSDDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OSDTcController" type="uml:OSDTcController"/>
  <xsd:complexType name="OSDTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="osdTcService" type="uml:OSDTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OSDMainController" type="uml:OSDMainController"/>
  <xsd:complexType name="OSDMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="osdMainService" type="uml:OSDMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OSDCycleController" type="uml:OSDCycleController"/>
  <xsd:complexType name="OSDCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="osdCycleService" type="uml:OSDCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PtzDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PtzCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PtzMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PtzTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="PtzMainDao" type="uml:PtzMainDao"/>
  <xsd:complexType name="PtzMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="PtzTcDao" type="uml:PtzTcDao"/>
  <xsd:complexType name="PtzTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="PtzDetailDao" type="uml:PtzDetailDao"/>
  <xsd:complexType name="PtzDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="PtzCycleServiceImpl" type="uml:PtzCycleServiceImpl"/>
  <xsd:complexType name="PtzCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:PtzCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PtzTcServiceImpl" type="uml:PtzTcServiceImpl"/>
  <xsd:complexType name="PtzTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:PtzTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PtzDetailServiceImpl" type="uml:PtzDetailServiceImpl"/>
  <xsd:complexType name="PtzDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:PtzDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PtzMainServiceImpl" type="uml:PtzMainServiceImpl"/>
  <xsd:complexType name="PtzMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:PtzMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PtzCycleDao" type="uml:PtzCycleDao"/>
  <xsd:complexType name="PtzCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="PtzDetailController" type="uml:PtzDetailController"/>
  <xsd:complexType name="PtzDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="ptzDetailService" type="uml:PtzDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PtzMainController" type="uml:PtzMainController"/>
  <xsd:complexType name="PtzMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="ptzMainService" type="uml:PtzMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PtzTcController" type="uml:PtzTcController"/>
  <xsd:complexType name="PtzTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="ptzTcService" type="uml:PtzTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PtzCycleController" type="uml:PtzCycleController"/>
  <xsd:complexType name="PtzCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="ptzCycleService" type="uml:PtzCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Rs485CycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Rs485DetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Rs485TcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Rs485MainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="Rs485TcServiceImpl" type="uml:Rs485TcServiceImpl"/>
  <xsd:complexType name="Rs485TcServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:Rs485TcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Rs485DetailDao" type="uml:Rs485DetailDao"/>
  <xsd:complexType name="Rs485DetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="Rs485CycleDao" type="uml:Rs485CycleDao"/>
  <xsd:complexType name="Rs485CycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="Rs485CycleServiceImpl" type="uml:Rs485CycleServiceImpl"/>
  <xsd:complexType name="Rs485CycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:Rs485CycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Rs485TcDao" type="uml:Rs485TcDao"/>
  <xsd:complexType name="Rs485TcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="Rs485MainServiceImpl" type="uml:Rs485MainServiceImpl"/>
  <xsd:complexType name="Rs485MainServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:Rs485MainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Rs485DetailServiceImpl" type="uml:Rs485DetailServiceImpl"/>
  <xsd:complexType name="Rs485DetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:Rs485DetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Rs485MainDao" type="uml:Rs485MainDao"/>
  <xsd:complexType name="Rs485MainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="Rs485DetailController" type="uml:Rs485DetailController"/>
  <xsd:complexType name="Rs485DetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="rs485DetailService" type="uml:Rs485DetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Rs485MainController" type="uml:Rs485MainController"/>
  <xsd:complexType name="Rs485MainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="rs485MainService" type="uml:Rs485MainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Rs485TcController" type="uml:Rs485TcController"/>
  <xsd:complexType name="Rs485TcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="rs485TcService" type="uml:Rs485TcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Rs485CycleController" type="uml:Rs485CycleController"/>
  <xsd:complexType name="Rs485CycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="rs485CycleService" type="uml:Rs485CycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BandwidthTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BandwidthMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BandwidthCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BandwidthDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="BandwidthMainDao" type="uml:BandwidthMainDao"/>
  <xsd:complexType name="BandwidthMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="BandwidthCycleDao" type="uml:BandwidthCycleDao"/>
  <xsd:complexType name="BandwidthCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="BandwidthDetailDao" type="uml:BandwidthDetailDao"/>
  <xsd:complexType name="BandwidthDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="BandwidthTcServiceImpl" type="uml:BandwidthTcServiceImpl"/>
  <xsd:complexType name="BandwidthTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="dao" type="uml:BandwidthTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BandwidthMainServiceImpl" type="uml:BandwidthMainServiceImpl"/>
  <xsd:complexType name="BandwidthMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:BandwidthMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BandwidthTcDao" type="uml:BandwidthTcDao"/>
  <xsd:complexType name="BandwidthTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="BandwidthCycleServiceImpl" type="uml:BandwidthCycleServiceImpl"/>
  <xsd:complexType name="BandwidthCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:BandwidthCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BandwidthDetailServiceImpl" type="uml:BandwidthDetailServiceImpl"/>
  <xsd:complexType name="BandwidthDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:BandwidthDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BandwidthTcController" type="uml:BandwidthTcController"/>
  <xsd:complexType name="BandwidthTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="bandwidthTcService" type="uml:BandwidthTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BandwidthMainController" type="uml:BandwidthMainController"/>
  <xsd:complexType name="BandwidthMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="bandwidthMainService" type="uml:BandwidthMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BandwidthDetailController" type="uml:BandwidthDetailController"/>
  <xsd:complexType name="BandwidthDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="bandwidthDetailService" type="uml:BandwidthDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BandwidthCycleController" type="uml:BandwidthCycleController"/>
  <xsd:complexType name="BandwidthCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="bandwidthCycleService" type="uml:BandwidthCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ImageConfirmMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ImageConfirmCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ImageConfirmTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ImageConfirmDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="ImageConfirmMainServiceImpl" type="uml:ImageConfirmMainServiceImpl"/>
  <xsd:complexType name="ImageConfirmMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="imageConfirmMainDao" type="uml:ImageConfirmMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImageConfirmDetailDao" type="uml:ImageConfirmDetailDao"/>
  <xsd:complexType name="ImageConfirmDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ImageConfirmTcDao" type="uml:ImageConfirmTcDao"/>
  <xsd:complexType name="ImageConfirmTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ImageConfirmCycleServiceImpl" type="uml:ImageConfirmCycleServiceImpl"/>
  <xsd:complexType name="ImageConfirmCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="imageConfirmCycleDao" type="uml:ImageConfirmCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImageConfirmMainDao" type="uml:ImageConfirmMainDao"/>
  <xsd:complexType name="ImageConfirmMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ImageConfirmTcServiceImpl" type="uml:ImageConfirmTcServiceImpl"/>
  <xsd:complexType name="ImageConfirmTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="imageConfirmTcDao" type="uml:ImageConfirmTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImageConfirmDetailServiceImpl" type="uml:ImageConfirmDetailServiceImpl"/>
  <xsd:complexType name="ImageConfirmDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="imageConfirmDetailDao" type="uml:ImageConfirmDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImageConfirmCycleDao" type="uml:ImageConfirmCycleDao"/>
  <xsd:complexType name="ImageConfirmCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ImageConfirmCycleController" type="uml:ImageConfirmCycleController"/>
  <xsd:complexType name="ImageConfirmCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="imageConfirmCycleService" type="uml:ImageConfirmCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImageConfirmDetailController" type="uml:ImageConfirmDetailController"/>
  <xsd:complexType name="ImageConfirmDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="imageConfirmDetailService" type="uml:ImageConfirmDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImageConfirmMainController" type="uml:ImageConfirmMainController"/>
  <xsd:complexType name="ImageConfirmMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="imageConfirmMainService" type="uml:ImageConfirmMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImageConfirmTcController" type="uml:ImageConfirmTcController"/>
  <xsd:complexType name="ImageConfirmTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="imageConfirmTcService" type="uml:ImageConfirmTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ViewLatencyTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ViewLatencyDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ViewLatencyMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ViewLatencyCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="ViewLatencyTcServiceImpl" type="uml:ViewLatencyTcServiceImpl"/>
  <xsd:complexType name="ViewLatencyTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="viewLatencyTcDao" type="uml:ViewLatencyTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ViewLatencyTcDao" type="uml:ViewLatencyTcDao"/>
  <xsd:complexType name="ViewLatencyTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ViewLatencyDetailServiceImpl" type="uml:ViewLatencyDetailServiceImpl"/>
  <xsd:complexType name="ViewLatencyDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="viewLatencyDetailDao" type="uml:ViewLatencyDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ViewLatencyMainServiceImpl" type="uml:ViewLatencyMainServiceImpl"/>
  <xsd:complexType name="ViewLatencyMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="viewLatencyMainDao" type="uml:ViewLatencyMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ViewLatencyMainDao" type="uml:ViewLatencyMainDao"/>
  <xsd:complexType name="ViewLatencyMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ViewLatencyCycleServiceImpl" type="uml:ViewLatencyCycleServiceImpl"/>
  <xsd:complexType name="ViewLatencyCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="viewLatencyCycledao" type="uml:ViewLatencyCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ViewLatencyCycleDao" type="uml:ViewLatencyCycleDao"/>
  <xsd:complexType name="ViewLatencyCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ViewLatencyDetailDao" type="uml:ViewLatencyDetailDao"/>
  <xsd:complexType name="ViewLatencyDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="ViewLatencyMainController" type="uml:ViewLatencyMainController"/>
  <xsd:complexType name="ViewLatencyMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="viewLatencyMainService" type="uml:ViewLatencyMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ViewLatencyTcController" type="uml:ViewLatencyTcController"/>
  <xsd:complexType name="ViewLatencyTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="viewLatencyTcService" type="uml:ViewLatencyTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ViewLatencyCycleController" type="uml:ViewLatencyCycleController"/>
  <xsd:complexType name="ViewLatencyCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="viewLatencyCycleService" type="uml:ViewLatencyCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ViewLatencyDetailController" type="uml:ViewLatencyDetailController"/>
  <xsd:complexType name="ViewLatencyDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="viewLatencyDetailService" type="uml:ViewLatencyDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="LiveStreamDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LiveStreamCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LiveStreamTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LiveStreamMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="LiveStreamMainDao" type="uml:LiveStreamMainDao"/>
  <xsd:complexType name="LiveStreamMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="LiveStreamDetailServiceImpl" type="uml:LiveStreamDetailServiceImpl"/>
  <xsd:complexType name="LiveStreamDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:LiveStreamDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LiveStreamCycleDao" type="uml:LiveStreamCycleDao"/>
  <xsd:complexType name="LiveStreamCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="LiveStreamMainServiceImpl" type="uml:LiveStreamMainServiceImpl"/>
  <xsd:complexType name="LiveStreamMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:LiveStreamMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LiveStreamDetailDao" type="uml:LiveStreamDetailDao"/>
  <xsd:complexType name="LiveStreamDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="LiveStreamTcServiceImpl" type="uml:LiveStreamTcServiceImpl"/>
  <xsd:complexType name="LiveStreamTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:LiveStreamTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LiveStreamCycleServiceImpl" type="uml:LiveStreamCycleServiceImpl"/>
  <xsd:complexType name="LiveStreamCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:LiveStreamCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LiveStreamTcDao" type="uml:LiveStreamTcDao"/>
  <xsd:complexType name="LiveStreamTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="LiveStreamMainController" type="uml:LiveStreamMainController"/>
  <xsd:complexType name="LiveStreamMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="liveStreamMainService" type="uml:LiveStreamMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LiveStreamDetailController" type="uml:LiveStreamDetailController"/>
  <xsd:complexType name="LiveStreamDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="liveStreamDetailService" type="uml:LiveStreamDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LiveStreamCycleController" type="uml:LiveStreamCycleController"/>
  <xsd:complexType name="LiveStreamCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="liveStreamCycleService" type="uml:LiveStreamCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LiveStreamTcController" type="uml:LiveStreamTcController"/>
  <xsd:complexType name="LiveStreamTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="liveStreamTcService" type="uml:LiveStreamTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SearchStreamCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SearchStreamMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SearchStreamTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SearchStreamDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="SearchStreamMainServiceImpl" type="uml:SearchStreamMainServiceImpl"/>
  <xsd:complexType name="SearchStreamMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:SearchStreamMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SearchStreamCycleServiceImpl" type="uml:SearchStreamCycleServiceImpl"/>
  <xsd:complexType name="SearchStreamCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:SearchStreamCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SearchStreamDetailServiceImpl" type="uml:SearchStreamDetailServiceImpl"/>
  <xsd:complexType name="SearchStreamDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:SearchStreamDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SearchStreamDetailDao" type="uml:SearchStreamDetailDao"/>
  <xsd:complexType name="SearchStreamDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SearchStreamCycleDao" type="uml:SearchStreamCycleDao"/>
  <xsd:complexType name="SearchStreamCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SearchStreamMainDao" type="uml:SearchStreamMainDao"/>
  <xsd:complexType name="SearchStreamMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SearchStreamTcServiceImpl" type="uml:SearchStreamTcServiceImpl"/>
  <xsd:complexType name="SearchStreamTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:SearchStreamTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SearchStreamTcDao" type="uml:SearchStreamTcDao"/>
  <xsd:complexType name="SearchStreamTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="SearchStreamCycleController" type="uml:SearchStreamCycleController"/>
  <xsd:complexType name="SearchStreamCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="searchStreamCycleService" type="uml:SearchStreamCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SearchStreamTcController" type="uml:SearchStreamTcController"/>
  <xsd:complexType name="SearchStreamTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="searchStreamTcService" type="uml:SearchStreamTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SearchStreamDetailController" type="uml:SearchStreamDetailController"/>
  <xsd:complexType name="SearchStreamDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="searchStreamDetailService" type="uml:SearchStreamDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SearchStreamMainController" type="uml:SearchStreamMainController"/>
  <xsd:complexType name="SearchStreamMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="searchStreamMainService" type="uml:SearchStreamMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="WebCycleService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="WebDetailService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="WebTcService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="WebMainService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="WebDetailServiceImpl" type="uml:WebDetailServiceImpl"/>
  <xsd:complexType name="WebDetailServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:WebDetailDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WebDetailDao" type="uml:WebDetailDao"/>
  <xsd:complexType name="WebDetailDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="WebTcDao" type="uml:WebTcDao"/>
  <xsd:complexType name="WebTcDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="WebMainServiceImpl" type="uml:WebMainServiceImpl"/>
  <xsd:complexType name="WebMainServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:WebMainDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WebMainDao" type="uml:WebMainDao"/>
  <xsd:complexType name="WebMainDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="WebCycleServiceImpl" type="uml:WebCycleServiceImpl"/>
  <xsd:complexType name="WebCycleServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:WebCycleDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WebTcServiceImpl" type="uml:WebTcServiceImpl"/>
  <xsd:complexType name="WebTcServiceImpl">
    <xsd:sequence>
      <xsd:element name="dao" type="uml:WebTcDao"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WebCycleDao" type="uml:WebCycleDao"/>
  <xsd:complexType name="WebCycleDao">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="WebDetailController" type="uml:WebDetailController"/>
  <xsd:complexType name="WebDetailController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="webDetailService" type="uml:WebDetailService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WebTcController" type="uml:WebTcController"/>
  <xsd:complexType name="WebTcController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="webTcService" type="uml:WebTcService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WebMainController" type="uml:WebMainController"/>
  <xsd:complexType name="WebMainController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="webMainService" type="uml:WebMainService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WebCycleController" type="uml:WebCycleController"/>
  <xsd:complexType name="WebCycleController">
    <xsd:sequence>
      <xsd:element name="logger" type="uml:Logger"/>
      <xsd:element name="webCycleService" type="uml:WebCycleService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="List">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Map">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Locale">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Collection">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Iterator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HashMap">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Date">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ArrayList">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LinkedHashMap">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Collections">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LinkedList">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Entry">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Set">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TreeSet">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Arrays">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Comparator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="StringTokenizer">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Field">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Serializable">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="File">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="FileInputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="FileOutputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="IOException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="StringReader">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="OutputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="FileReader">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="URLEncoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="URISyntaxException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="URLDecoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SimpleDateFormat">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BigDecimal">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Repository">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Service">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Controller">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Component">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RequestMapping">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ResponseBody">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ModelAndView">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HandlerExceptionResolver">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MaxUploadSizeExceededException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MultipartFile">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MultipartRequest">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MultipartHttpServletRequest">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Model">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MessageSource">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ApplicationContext">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Advised">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Value">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PropertiesFactoryBean">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="FileCopyUtils">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Assert">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PasswordEncoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Md5PasswordEncoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AuthenticationServiceException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BadCredentialsException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UsernamePasswordAuthenticationToken">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SaltSource">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SecurityContextHolder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AuthenticationException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UserDetails">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UserDetailsService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UsernameNotFoundException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="GrantedAuthority">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Authentication">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="GrantedAuthorityImpl">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DefaultRedirectStrategy">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RedirectStrategy">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="WebAttributes">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AuthenticationFailureHandler">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AuthenticationSuccessHandler">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UrlUtils">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="DataAccessException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Logger">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LoggerFactory">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Page">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="QueryService">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="QueryServiceException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="StringUtil">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JoinPoint">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AfterThrowing">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Aspect">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Pointcut">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Before">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BeanUtils">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PropertyUtils">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MultiKeyMap">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="LRUMap">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="StringUtils">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CellRangeAddress">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CellRangeAddressBase">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Cell">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CellStyle">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Font">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="IndexedColors">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PrintSetup">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Row">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Sheet">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HSSFSheet">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HSSFWorkbook">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HSSFChart">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HSSFSeries">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HSSFCell">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HSSFCellStyle">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HSSFRow">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Transcoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TranscoderException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TranscoderInput">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TranscoderOutput">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JPEGTranscoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PNGTranscoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PDFTranscoder">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JSONArray">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JSONObject">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JSONParser">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ContainerFactory">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ParseException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="JSONValue">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Inject">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Named">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HttpServletRequest">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HttpServletResponse">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="HttpSession">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Cookie">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ServletOutputStream">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="ServletException">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Object">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Exception">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>
